body {
    background-image: url(Background.jpg);
    background-position: center;
    background-size: cover;
}

h1 {
    background-color: white;
    margin-left: 400px;
    margin-right: 400px;
}

#mycanvas {
    border: 5px solid black;
    background-color: white;
}

#Color {
    font-size: 50px;
    height: 70px;
}